beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
distlib==0.3.6
filelock==3.12.2
idna==3.3
numpy==1.25.0
pandas==2.0.3
platformdirs==3.8.0
python-dateutil==2.8.2
python-http-client==3.3.6
pytz==2023.3
requests==2.27.1
sendgrid==6.9.6
six==1.16.0
soupsieve==2.4.1
starkbank-ecdsa==2.0.3
tzdata==2023.3
urllib3==1.26.8
virtualenv==20.23.1
